<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>

      <!--<basicHttpBinding>
        <binding name ="soapBinding">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>-->

      <webHttpBinding>
        <binding name="httpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>

      <wsHttpBinding>
        <binding name="WsHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>

    </bindings>
    
    <services >
      <service name="EduardoSelfHost.Contracts.PesquisaDolarService" behaviorConfiguration="ServiceBehaviour">

        <endpoint address="https://localhost:16443/PesquisaDolarService/http"
                  binding="webHttpBinding"
                  bindingConfiguration="httpBinding"
                  contract="EduardoSelfHost.Contracts.IPesquisaDolar"
                  behaviorConfiguration="WebBehavior"
                  />
        
        
        <endpoint binding="wsHttpBinding" bindingConfiguration="WsHttpBinding" contract="EduardoSelfHost.Contracts.IPesquisaDolar" >
          <identity>
            <dns value="MyMachine" />
          </identity>
        </endpoint>
        
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        
        <host>
          <baseAddresses>
            <add baseAddress="https://MyMachine:16443/PesquisaDolarService" />
          </baseAddresses>
        </host>
     
        
      </service>
      
    </services>

    <behaviors>

      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>

        <behavior name="ServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceMetadata httpsGetEnabled="True" />
        </behavior>

      </serviceBehaviors>

    </behaviors>
    
  </system.serviceModel>
</configuration>